<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<link rel="stylesheet" href="/assets/css/home.css" id="theme-stylesheet">
</head>

<body class="test">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<section id="intro" class="intro image-background">
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <p class="roboto">Hi Everyone</p>
              <h1>My Name Is<br /><span class="bold">Clint Bird</span></h1>
              <p class="roboto">And this is a theme for your personal or company website brought to you by <a href="http://bootstrapious.com" class="external">Bootstrapious.com</a></p>
            </div>
          </div>
        </div>
      </div><a href="#text" class="icon faa-float animated scroll-to"><i class="fa fa-angle-double-down"></i></a>
    </section>

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <div class="article-wrap">
      {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    <!-- {% include _footer.html %}-->
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
